{
    "parserOptions": {
        "ecmaVersion": 9,
        "sourceType": "module"
    },
    "globals": {
        "document": true,
        "fetch": true,
        "location": true,
        "console": true,
        "Swal": true,
        "URLSearchParams": true,
        "WebSocket": true,
        "setInterval": true,
        "Element": true,
        "Map": true,
        "FormData": true,
        "$": true
    },
    "extends": "eslint:all",
    "rules": {
        "strict":"off",
        "space-before-function-paren":"off",
        "padded-blocks":"off",
        "no-magic-numbers":"off",
        "camelcase":"off",
        "lines-around-comment":"off",
        "object-curly-spacing":"off",
        "lines-between-class-members":"off",
        "function-call-argument-newline":"off",
        "id-length":"off",
        "one-var":"off",
        "prefer-destructuring":"off",
        "func-style":["error", "declaration"],
        "brace-style":"off",
        "max-statements-per-line":"off",
        "max-len":"off",
        "sort-imports":"off",
        "max-statements":"off",
        "func-names":["error", "never"],
        "quote-props":"off",
        "capitalized-comments":"off",
        "array-element-newline":"off",
        "comma-dangle":"off",
        "newline-per-chained-call":"off",
        "comma-spacing":"off",
        "prefer-template":"off",
        "no-console":"off",
        "no-await-in-loop":"off",
        "array-bracket-newline":["error", "consistent"],
        "curly":["error", "multi-line"],
        "no-param-reassign":"off",
        "no-ternary":"off",
        "multiline-ternary":"off",
        "multiline-comment-style":"off",
        "max-params":"off",
        "space-infix-ops":"off",
        "object-property-newline":"off",
        "wrap-iife":["error", "inside"],
        "max-lines-per-function":"off",
        "no-undefined":"off",
        "sort-keys":"off",
        "new-cap":"off",
        "no-plusplus":"off",
        "indent":["error", 4, { "SwitchCase": 1 }],
        "key-spacing":"off",
        "no-continue":"off",
        "require-atomic-updates":"off",
        "prefer-named-capture-group":"off",
        "consistent-return":"off"
    }
}
