@import './../color.scss';

x-messages {
    background-color: darken($based3, 2%);
    color: $comment;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    padding-right: 0;
    justify-content: flex-end;
    overflow-y: hidden;
    font-family: 'Courier New', 'Courier', monospace;
}

x-msg-pane {
    display: block;
    overflow-y: scroll;

    >fieldset {
        border-width: 0;
        border-top-width: inherit;
        border-color: $comment;
        padding: 0;

        >legend {
            padding: 0 1em;
            margin: auto;
        }
        &.div {
            &.new {
                border-color: $red;
                color: $red;
            }
        }
    }
}

x-message {
    padding: .25em 1em;
    display: flex;
    flex-direction: row;
    border: 2px solid transparent;
    border-bottom-width: 0;
    color: white;

    &:last-child {
        border-bottom-width: 2px;
    }
    &:hover {
        background-color: darken($based3, 2%);
    }
    &.selected {
        border-color: #b58900aa;
        background-color: transparentize(#004d45, .5);

        + .selected {
            border-top-color: transparent;
        }
        + x-message:not(.selected) {
            border-top-color: #b58900aa;
        }
    }
    >div {
        vertical-align: middle;
        display: flex;
        align-items: center;
        font-family: 'Ubuntu', sans-serif;

        &.ts {
            padding-right: .5em;
            color: $based1;
            white-space: nowrap;
            font-size: .9em;
            font-family: inherit;
        }
        &.usr {
            padding-right: .5em;
            font-weight: 500;
            cursor: pointer;

            &::after {
                content: ":";
                color: white;
            }
        }
        &.dat {
            font-weight: 300;
            word-wrap: anywhere;
            hyphens: auto;
            display: block;

            a {
                color: $cyan;
                text-decoration: none;
                padding-bottom: 2px;

                &:hover {
                    color: $blue;
                    border-bottom: 1px solid $blue;
                }
            }
            img {
                max-height: 1.5em;
                vertical-align: middle;
                margin-top: -100%;
                margin-bottom: -100%;
            }
            code {
                background-color: $based1;
                padding: .2em;
                border-radius: .2em;
                line-height: 1.35;
            }
            x-spoiler {
                display: inline-block;
                padding: .1em .2em;
                background-color: black;
                color: black;

                &.show {
                    background-color: darken($based1, 20%);
                    color: inherit;
                }
            }
        }
    }
}
