@import './color.scss';
@import './x/x-settings.scss';
@import './x/x-selection.scss';
@import './x/x-text-setting.scss';
@import './x/x-2s-toggle.scss';
@import './x/x-3s-toggle.scss';
@import './x/x-button.scss';

* {
    box-sizing: border-box;
}
input {
    display: block;
}
button, a:hover {
    cursor: pointer;
}
// sweetalert2 scroll issue fix
body.swal2-height-auto {
    height: inherit !important;
}
html, body {
    height: 100vh;
}
body {
    margin: 0;
    display: grid;
    grid-template-columns: 15rem 1fr 15rem;
    grid-template-rows: 3rem 1fr 3rem;
    background-color: $based3;
    color: $fg;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Ubuntu', 'Open Sans', sans-serif;

    button {
        margin: 1em;
        border: 0;
        padding: .25em .5em;
        border-radius: .2em;
        background-color: $based3;
        color: $basel3;
    }
}
body {
    #server-name {
        color: $fg;
        display: flex;
        flex-direction: row;

        span {
            margin: 1em;
            flex-grow: 1;
            white-space: nowrap;
            margin-right: 0;

            &::after {
                content: "❌";
                font-family: 'apple color emoji', 'segoe ui emoji', 'noto color emoji', 'android emoji', 'emojisymbols', 'emojione mozilla', 'twemoji mozilla', 'segoe ui symbol';
                padding-left: .5em;
            }
            &.online::after {
                content: "✔";
            }
            &.loading::after {
                content: "🕒";
            }
        }
        a {
            margin: 1em;
        }
    }
    #channel-name {
        background-color: $based2;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 1em;
        grid-row: 1 / 2;
        grid-column: 2 / 4;

        span {
            padding-right: 1em;
            color: $basel1;

            &:first-child {
                &::before {
                    content: "# ";
                }
            }
            &:last-child {
                color: $basel0;
            }
        }
    }
    #channel-list {
        background-color: $based2;
        text-align: center;

        ol {
            list-style-type: none;
            padding-left: 0;
            text-align: left;

            li {
                padding: .25em;
                margin: 0 .5em;
                border-radius: .25em;
                cursor: pointer;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                &:hover {
                    background-color: darken($based2, 1%);
                }
                &.active {
                    background-color: $based3;
                }
                &[data-unread="0"] div.unred {
                    display: none;
                }
                div {
                    &:nth-child(1)::before {
                        content: "# ";
                    }
                    &.unred {
                        padding: 0 .25em;
                        background-color: $based1;
                        border-radius: 50%;
                        justify-self: right;
                    }
                }
            }
        }
        hr {
            margin: 0 1em;
            border-color: $based2;
        }
    }
    #messages {
        background-color: $based3;
        color: $comment;
        display: flex;
        flex-direction: column;
        padding: 1em 0;
        padding-right: 0;
        justify-content: flex-end;
        overflow-y: hidden;
        font-family: 'Courier New', 'Courier', monospace;
        font-size: .9em;

        > div {
            overflow-y: scroll;

            > div.msg {
                padding: .5em 1em;
                display: flex;
                flex-direction: row;
                border: 2px solid transparent;
                border-bottom-width: 0;
                color: white;

                &:last-child {
                    border-bottom-width: 2px;
                }
                &:hover {
                    background-color: darken($based3, 2%);
                }
                &.selected {
                    border-color: #b58900aa;
                    background-color: transparentize(#004d45, .5);

                    & + .selected {
                        border-top-color: transparent;
                    }
                    & + :not(.selected) {
                        border-top-color: #b58900aa;
                    }
                }
                &:not([data-user-uid]) > div {
                    color: $based1;
                }
                > div {
                    vertical-align: middle;
                    display: flex;
                    align-items: center;

                    &.ts {
                        padding-right: .5em;
                        color: $based1;
                        white-space: nowrap;
                        font-size: .9em;
                    }
                    &.usr {
                        padding-right: .5em;
                        font-weight: 500;
                        cursor: pointer;

                        &::after {
                            content: ":";
                            color: white;
                        }
                    }
                    &.dat {
                        font-weight: 300;
                        word-wrap: anywhere;
                        hyphens: auto;
                        display: block;

                        a {
                            color: $cyan;

                            &:hover {
                                color: $blue;
                            }
                        }
                        img {
                            max-height: 1.5em;
                            vertical-align: middle;
                            margin-top: -100%;
                            margin-bottom: -100%;
                        }
                    }
                }
            }
        }
    }
    #me {
        display: flex;
        flex-direction: row;
        justify-content: center;

        div {
            margin: 1em;
            flex-grow: 1;
        }
        a {
            margin: 1em;
        }
    }
    #input {
        input[type="text"] {
            background-color: $based2;
            color: $fg;
            margin: .25em;
            width: calc(100% - 1em);
            border: .1em solid $based1;
            border-radius: .25em;
            padding: .5em;
        }
    }
    #users-online-list {
        background-color: $based3;
        grid-row: 2 / 4;
        grid-column: 3 / 4;
        border-left: 2px solid #268bd2;

        & > div {
            padding: 1em;
            padding-bottom: .5em;
            margin: 0;

            &::after {
                content: "—" attr(data-count);
            }
            &[data-count="0"] {
                display: none;
            }
        }
        ul {
            padding: 0;
            margin: 0;

            &:empty {
                display: none;
            }
            li {
                list-style-type: none;
                padding: .5em 1em;
                margin: 0 1em;
                border-radius: .2em;
                padding-right: 0;

                &:hover {
                    background-color: lighten($based3, 3%);
                }
                span {
                    &:nth-child(2) {
                        color: darken(#839496, 25%);
                    }
                }
            }
        }
    }
    x-settings {
        [data-s-section] {
            a[href] {
                color: $cyan;

                &:hover {
                    color: $blue;
                }
            }
            code {
                background-color: $based3;
                padding: .5em;
                border-radius: .25em;
            }
            >div {
                display: flex;
                flex-direction: row;
                align-items: center;

                img {
                    margin-right: .5em;
                    margin-bottom: .5em;
                }
            }
        }
    }
    dialog.popup {
        position: absolute;
        margin: 0;

        &.user {
            max-width: 20em;

            h2 {
                margin: 0 0 .5em 0;
            }
            >ol {
                margin: .5em 0;
                padding: 0;
                list-style-type: none;

                li {
                    display: inline-block;
                    background-color: #ccc;
                    border-radius: .25em;
                    padding: .2em;
                    margin-right: .25em;
                    margin-top: .25em;
                    font-size: .9em;

                    &:not(.active) {
                        display: none;
                    }
                    &::before {
                        content: "";
                        background-color: #ddd;
                        display: inline-block;
                        border-radius: 50%;
                        vertical-align: center;
                        text-align: center;
                        width: 1.1em;
                        height: 1.1em;
                        margin-right: .25em;
                        color: inherit;
                        line-height: 1.45em;
                    }
                    &:hover {
                        cursor: pointer;
                        
                        &::before {
                            content: "✘";
                            color: black;
                        }
                    }
                }
            }
            div {
                i {
                    cursor: pointer;
                    display: block;
                    width: 100%;
                    text-align: left;

                    &:hover + ol {
                        display: block;
                    }
                }
                ol {
                    display: none;
                    box-shadow: 0 0 5px black;
                    list-style-type: none;
                    padding: 0;
                    margin: 0;

                    &:hover {
                        display: block;
                    }
                    li {
                        padding: .25em .5em;
                        cursor: pointer;

                        &:hover {
                            background-color: #ddd;
                        }
                        &.active {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
