@import './../chat/css/color.scss';

html, body {
    width: 100vw;
    height: 100vh;
}
body {
    margin: 0;
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
    background-position: center;
    background-size: cover;

    main {
        max-width: 70ch;
        padding: 2ch;
        margin: auto;
    }
    &.p-invite {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $based3;

        form {
            max-width: 30em;
            background-color: transparentize($based2, .1);
            color: $basel1;
            padding: 1em;
            border-radius: .25em;
            box-shadow: 0 0 10px white;

            legend {
                margin: auto;
                padding: 0 .5em;
            }
            div.v {
                text-align: center;
                margin-bottom: .5em;
            }
            .badges {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;

                img {
                    padding: .25em;
                }
                >div {
                    display: flex;
                    flex-direction: column;

                }
                >img {
                    border-radius: 50%;
                    max-height: 4em;
                }
            }
            .frm-txt {
                display: block;
                margin: 1em 0;

                input {
                    display: block;
                    width: calc(100% - 12px);
                    padding: .5em .25em;
                    margin: .5em 0;
                    border: 0;
                }
            }
            button, a {
                display: block;
                width: 100%;
                margin: 1em 0;
                background-color: $green;
                border: 0;
                padding: .5em 0;
                text-decoration: none;
                text-align: center;
                color: initial;
                cursor: pointer;
            }
        }
    }
}
